<div class="container mx-auto">
  <div class="card classCrad" style="width: 18rem">
    <div class="card-body">
      <h5 class="card-title">Technology</h5>
      <div class="form-group m-b-5">
        <input
          type="text"
          class="form-control"
          id="technologiesBuzzwords"
          [(ngModel)]="technologyName"
          placeholder="Enter technologie"
        />
      </div>
      <button class="btn btn-primary m-t-5" (click)="generateBuzzword()">
        genarte Buzzwords
      </button>
    </div>
  </div>
</div>
<div *ngIf="showBuzzword" class="container">
  <div class="col d-flex justify-content-center">
    <div class="card" style="width: 18rem">
      <div class="card-body">
        <h5 class="card-title">Buzzwords</h5>
        <p>{{ buzzwords }}</p>
      </div>
    </div>
  </div>
</div>
